{% comment %}

    Accepts:
    - button_title: {String} Button title
    - tags: {String} Comma seperated list of items

    Usage:
    {% render 'form-newsletter-sign-up', button_title: newsletter_button_title, tags: tags %}

{% endcomment %}

{% assign button_title = button_title | default: 'Sign Up' %}
{% assign tags = tags | default: 'newsletter' %}

{%- form 'customer', class: 'form form--newsletter-sign-up js--validate-me' -%}

  <div class="form__main">

    <div class="form__row form-row--rude">
      <div class="form__field form-field--rude">
        {% render 'input', classes: 'input--secondary input--rude', name: 'contact[rude]', type: 'text' %}
      </div>
      <div class="form__field form-field--tags">
        {% render 'input', classes: 'input--secondary input--tags', readonly: true, required: false, name: 'contact[tags]', type: 'text', value: tags %}
      </div>
    </div>

    <div class="form__row form-row">
      <div class="form__field form-field--email">
        {% render 'input', classes: 'input--secondary input--email', required: true, name: 'contact[email]', placeholder: 'Email', type: 'email' %}
      </div>
      <button class="form__button button--submit-form" type="submit">
        <span class="button__title">{{ button_title }}</span>
      </button>
    </div>

  </div>

  <div class="form__loading">
    <div class="form__spinner"></div>
  </div>

{%- endform -%}
