{%- form 'contact', id: 'form--contact-us', class: 'form form--contact-us js--validate-me' -%}

    <div class="form__main">
      <div class="form__field form-field form-field--rude">
        {% render 'input', classes: 'input--primary input--rude', name: 'contact[rude]', type: 'text' %}
      </div>
      <div class="form__field form-field">
        {% render 'input', classes: 'input--primary input--text', name: 'contact[name]', placeholder: 'Name', required: true, type: 'text' %}
      </div>
      <div class="form__field form-field">
        {% render 'input', classes: 'input--primary input--email', name: 'contact[email]', placeholder: 'Email', required: true, type: 'email' %}
      </div>
      <div class="form__field form-field">
        {% render 'input', classes: 'input--primary input--phone', name: 'contact[phone]', placeholder: 'Phone', type: 'tel' %}
      </div>
      <div class="form__field form-field">
        {% render 'textarea', classes: 'textarea--primary', name: 'contact[body]', placeholder: 'Message', required: true %}
      </div>
      <button class="form__button button button--primary" type="submit">Submit</button>
    </div>

    <div class="form__loading">
      <div class="form__spinner"></div>
    </div>

{%- endform -%}
