{%- assign section_name = 'feature-panel-01' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign message = section.settings.message | default: '' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

{%- case width -%}
  {%- when 'full' -%}
    {%- assign columns = 'col-12' -%}
  {%- when 'inset' -%}
    {%- assign columns = 'col-12 col-lg-10 offset-lg-1' -%}
{%- endcase -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: columns %}
    <h1>Feature Panel 01</h1>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Feature Panel 01",
  "tag": "section",
  "class": "section section--feature-panel-01",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Stamp",
      "type": "image_picker",
      "id": "stamp"
    },
    {
      "content": "Footnote",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "footnote_image"
    },
    {
      "label": "Caption",
      "type": "image_picker",
      "id": "footnote_caption"
    },
    {
      "content": "Auxiliary",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "auxiliary_image"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Feature Panel 01"
    }
  ]
}
{% endschema %}
