{%- assign section_name = 'featured-image' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign image = section.settings.image | append: '' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

<div class="{{ section_name }}" id="{{ section_id }}">

</div>

{% schema %}
{
  "name": "Featured Image",
  "tag": "section",
  "class": "section section--featured-image",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Featured Image"
    }
  ]
}
{% endschema %}
