{%- assign section_name = 'feature-panel-03' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign marker = section.settings.marker | default: '' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open' %}
    <div class="{{ section_name }}__layout"></div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Feature Panel 03",
  "tag": "section",
  "class": "section section--feature-panel-03",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Marker",
      "type": "text",
      "id": "marker"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "image_caption"
    },
    {
      "label": "Supporting",
      "type": "image_picker",
      "id": "image_supporting"
    },
    {
      "content": "Auxiliary",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "auxiliary_image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "auxiliary_image_caption"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Feature Panel 03"
    }
  ]
}
{% endschema %}
