<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%- assign section_name = 'product' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign featued_image = product.featured_image | default: false %}
{% assign gallery = false %}
{% assign gallery_id = 'product-gallery--' | append: section.id %}
{% assign gallery_style = 'product-gallery' %}
{% assign product_title = product.title | default: '' %}
{% assign product_type = product.type | default: '' %}

{% if product.images.size > 1 %}
  {% assign gallery = true %}
{% endif %}

{% render 'json-ld', article: product, type: 'product' %}

<div class="{{ section_name }}" itemscope itemtype="http://schema.org/Product">
  {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    {% render 'bs-container', state: 'open' %}
      <div class="row row--inner">

        <div class="col-12 col-lg-6">
          {% render 'product-gallery', product: product %}
        </div>

        <div class="col-12 col-lg-6">
          <div class="product__sticky">
            <div class="product__sticky-content">
              {% render 'product-details', product: product %}
              {% render 'product-options', product: product %}
              {% render 'product-actions', product: product %}
              {% render 'product-info', product: product %}
            </div>
          </div>
        </div>

      </div>
    {% render 'bs-container', state: 'closed' %}

  {%- endform -%}
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section section--product",
  "blocks": [
    {
      "type": "@app"
    },
    {
     "name": "Recommended Products",
     "type": "recommended-products",
     "limit": 1,
     "settings": [
        {
          "label": "Heading",
          "type": "text",
          "id": "heading"
        },
        {
          "label": "Subheading",
          "type": "text",
          "id": "subheading"
        }
      ]
    }
  ]
}
{% endschema %}
