{%- assign section_name = 'blog' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: '' %}
{% assign hero_image = section.settings.hero_image | default: '' %}
{% assign hero_message = section.settings.hero_message | default: '' %}
{% assign post_per_page = section.settings.post_per_page | default: 6 %}

{%- paginate blog.articles by 2 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section section--blog",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "content": "Content",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "label": "Info",
      "type": "richtext",
      "id": "hero_info"
    },
    {
      "content": "Media",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "hero_image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Posts per page",
      "type": "range",
      "min": 6,
      "max": 16,
      "step": 2,
      "default": 6,
      "id": "post_per_page"
    }
  ]
}
{% endschema %}
