{%- assign section_name = 'collection' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{%- paginate collection.products by section.settings.products_per_page -%}

  <h1>{{ collection.title }}</h1>

  {%- if collection.products.size == 0 -%}

    <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
      <div class="loading-overlay gradient"></div>
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
        </h2>
      </div>
    </div>

  {%- else -%}

    {%- for product in collection.products -%}
      {% render 'card-product', product: product, style: section_name %}
    {%- endfor -%}

    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate, anchor: '' %}
    {%- endif -%}

  {%- endif -%}

{%- endpaginate -%}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Collection Product Grid",
  "class": "section",
  "settings": [
    {
      "label": "Products per Page",
      "type": "select",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "9", "label": "9" },
        { "value": "12", "label": "12" },
        { "value": "18", "label": "18" },
        { "value": "24", "label": "24" }
      ],
      "default": "9",
      "id": "products_per_page"
    },
    {
      "label": "Show second image on hover",
      "type": "checkbox",
      "default": false,
      "id": "show_secondary_image"
    }
  ]
}
{% endschema %}
