.blog {

  &__hero {
    [data-text-colour-theme-dark] {
      color: rgba(var(--theme-colour-black),1);
    }
    [data-text-colour-theme-light] {
      color: rgba(var(--theme-colour-white),1);
    }
    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 66.6666%;
      margin-right: auto;
      padding: 22px;
    }
    &-main {
      position: relative;
    }
    &-media {
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
      @supports not (aspect-ratio: auto) {
        height: 300px;
	    }
    }
    & + .blog__main {
      margin-top: 55px;
    }
  }

  &__list {
    width: 85%;
  }

  &__main {
    & + .blog__pagination {
      margin-top: 55px;
    }
  }

  @include breakpoint(sm) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 350px;
	      }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 400px;
	      }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &__hero {
      &-content {
        width: 45%;
        margin-right: auto;
        padding: 28px;
      }
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 500px;
	      }
      }
      & + .blog__main {
        margin-top: 75px;
      }
    }

    &__list {
      width: 100%;
    }

    &__main {
      & + .blog__pagination {
        margin-top: 75px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 600px;
	      }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 700px;
	      }
      }
      & + .blog__main {
        margin-top: 95px;
      }
    }

    &__main {
      & + .blog__pagination {
        margin-top: 95px;
      }
    }

  } // min width xxl

}
