.blog {

  .article {
    color: rgba(var(--theme-colour-black),1);
    &__cta {
      margin-top: 32px;
    }
    &__date {
      & + .article__title {
        margin-top: 12px;
      }
    }
    &__image {
      position: relative;
      width: 100%;
      aspect-ratio: 3/2;
      @supports not (aspect-ratio: auto) {
        height: 300px;
	    }
      &-link {
        transition: opacity var(--theme-transition-duration);
        opacity: 1;
        &:hover {
          opacity: 0.3333;
        }
      }
      & + .article__content {
        margin-top: 40px;
      }
    }
    &__title {
      &-link {
        transition: opacity var(--theme-transition-duration);
        color: inherit;
        text-decoration: none;
        &:focus,
        &:hover {
          opacity: 0.6666;
        }
      }
    }
  }

  &__hero {
    [data-text-colour-theme-dark] {
      color: rgba(var(--theme-colour-black),1);
    }
    [data-text-colour-theme-light] {
      color: rgba(var(--theme-colour-white),1);
    }
    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 66.6666%;
      margin-right: auto;
      padding: 22px;
    }
    &-main {
      position: relative;
    }
    &-media {
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
      @supports not (aspect-ratio: auto) {
        height: 300px;
	    }
    }
    & + .blog__main {
      margin-top: 55px;
    }
  }

  &__item {
    display: block;
    width: 100%;
  }

  &__list {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    column-gap: 0;
    row-gap: 45px;
    margin: auto;
  }

  @include breakpoint(sm) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 350px;
	      }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 400px;
	      }
      }
    }

    &__list {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      column-gap: var(--bs-gutter-width);
      row-gap: 55px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__hero {
      &-content {
        width: 33.3333%;
        margin-right: auto;
        padding: 28px;
      }
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 500px;
	      }
      }
      & + .blog__main {
        margin-top: 75px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 600px;
	      }
      }
    }

    &__list {
      row-gap: 65px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__hero {
      &-media {
        @supports not (aspect-ratio: auto) {
          height: 700px;
	      }
      }
      & + .blog__main {
        margin-top: 95px;
      }
    }

  } // min width xxl

}
