html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  display: flex;
  flex-direction: column;
  left: 0;
  overflow-x: hidden;
  position: relative;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }

  #add-to-cart-notification,
  #shopify-main,
  #shopify-section-footer,
  #shopify-section-header {
    transition: transform var(--theme-transition-duration);
  }

  &.mobile-menu--active {
    overflow: hidden;
    position: relative;
    #add-to-cart-notification,
    #shopify-main,
    #shopify-section-footer,
    #shopify-section-header {
      transform: translate3d( calc(-1 * var(--theme-mobile-menu-width)), 0, 0 );
    }
  }

  @include breakpoint(sm) {

    &.mobile-menu--active {
      #add-to-cart-notification,
      #shopify-main,
      #shopify-section-footer,
      #shopify-section-header {
        transform: translate3d( calc(-1 * var(--theme-mobile-menu-width--sm)), 0, 0 );
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &.mobile-menu--active {
      #add-to-cart-notification,
      #shopify-main,
      #shopify-section-footer,
      #shopify-section-header {
        transform: translate3d( calc(-1 * var(--theme-mobile-menu-width--md)), 0, 0 );
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &.mobile-menu--active {
      #add-to-cart-notification,
      #shopify-main,
      #shopify-section-footer,
      #shopify-section-header {
        transform: translate3d( 0, 0, 0 );
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
