@font-face {
  font-family: 'PP Cirka';
  src: url('./PPCirka.eot');
  src: local('PP Cirka'), local('PPCirka'),
    url('./PPCirka.eot?#iefix') format('embedded-opentype'),
    url('./PPCirka.woff2') format('woff2'),
    url('./PPCirka.woff') format('woff'),
    url('./PPCirka.ttf') format('truetype'),
    url('./PPCirka.svg#PPCirka') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
