@use "sass:math";

.header {

  $header-brand-height: 44px;

  transition: background var(--theme-transition-duration);
  background: rgba(var(--theme-colour-white), 1);
  border-bottom: 1px solid rgba(var(--theme-colour-black), 0.025);
  color: rgba(var(--theme-colour-black),1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;

  .hamburger {
    margin-left: auto;
    padding: 10px;
    margin-right: -10px;
  }

  .navigation {
    display: none;
    &--extras,
    &--main {
      @extend .navigation;
    }
  }

  &__announcements {
    background: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-silver), 1);
    padding: 12px 0;
    a {
      color: rgba(var(--theme-colour-gold), 1);
      text-decoration: none;
      &:hover {
        color: rgba(var(--theme-colour-silver), 1);
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
    &-item {
      text-align: center;
      line-height: 1.35;
    }
  }

  &__brand {
    position: absolute;
    top: 50%;
    height: $header-brand-height;
    width: auto;
    margin-top: calc( -0.5 * $header-brand-height );
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
    &-link {
      color: rgba(var(--theme-colour-black), 1);
      opacity: 1;
      &:focus,
      &:hover {
        color:  inherit;
        opacity: 0.6666;
      }
    }
  }

  &__layout {
    height: var(--theme-header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }

  .scroll-position--scrolled & {
    //background: rgba(var(--theme-colour-white), 1);
  }

  .mobile-menu--active & {
    //background: rgba(var(--theme-colour-white), 1);
  }

  &:hover {
    //background: rgba(var(--theme-colour-white), 1);
  }

  @include breakpoint(sm) {

    &__layout {
      height: var(--theme-header-height--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    &__layout {
      height: var(--theme-header-height--md);
    }

  } // min width md

  @include breakpoint(lg) {

    $header-brand-height: 52px;

    .navigation {
      font-family: var(--theme-font-family--sans-serif--primary);
      display: inline-flex;
      align-items: center;
      &__item {
        &.active {
          .sub-navigation {
            display: flex;
          }
        }
      }
      &__link {
        height: var(--theme-header-height--lg);
        color: rgba(var(--theme-colour-black), 1);
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        text-transform: capitalize;
        padding: 0 15px;
        &.active,
        &:hover {
          color: rgba(var(--theme-colour-gold), 1);
        }
      }
      &--extras {
        margin-left: auto;
        margin-right: -15px;
      }
      &--main {
        margin-right: auto;
        margin-left: -15px;
      }
    }

    .sub-navigation {
      background: rgba(var(--theme-colour-black),1);
      top: var(--theme-header-height--total);
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      left: 0;
      width: 100%;
      display: none;
      padding: 50px 0;
      &__item,
      &__link {
        line-height: 1;
      }
      &__item {
        color: rgb(var(--theme-colour-white), 1);
        flex: 1;
        max-width: 275px;
        //border: 1px solid pink;
      }
      &__layout {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: baseline;
        flex-flow: row nowrap;
      }
      &__link {
        &.active,
        &:hover {
          color: rgb(var(--theme-colour-gold), 1);
        }
      }
    }

    .sub-sub-navigation {
      margin-top: 42px;
      display: grid;
      width: 100%;
      grid-template-columns: unset;
      grid-template-rows: repeat( 1, 1fr );
      grid-auto-flow: column;
      margin-bottom: -12px;
      $base: 2;
	    $step: 1;
      @while $base < 36 {
        $repeat: math.ceil($base * 0.5);
        &[data-links-count='#{$base}'] {
          grid-template-rows: repeat( $repeat, 1fr );
        }
        $base: $base + $step;
      }
      &__item,
      &__link {
        line-height: 1;
      }
      &__item {
        margin-bottom: 12px;
      }
      &__link {
        color: rgba(var(--theme-colour-silver), 1);
        font-family: var(--theme-font-family--sans-serif--primary);
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        text-transform: capitalize;
        &.active,
        &:hover {
          color: rgba(var(--theme-colour-white), 1);
        }
      }
    }

    &__brand {
      height: $header-brand-height;
      margin-top: calc( -0.5 * $header-brand-height );
    }

    &__layout {
      height: var(--theme-header-height--lg);
    }

  } // min width lg

  @include breakpoint(xl) {

    .navigation {
      &__link {
        height: var(--theme-header-height--xl);
        font-size: 15px;
        padding: 0 16px;
      }
      &--extras {
        margin-right: -16px;
      }
      &--main {
        margin-left: -16px;
      }
    }

    .sub-navigation {
      &__item {
        max-width: 295px;
      }
    }

    .sub-sub-navigation {
      top: var(--theme-header-height--xl);
      margin-bottom: -14px;
      &__item {
        margin-bottom: 14px;
      }
      &__link {
        font-size: 15px;
      }
    }

    &__layout {
      height: var(--theme-header-height--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    .navigation {
      &__link {
        height: var(--theme-header-height--xxl);
        font-size: 16px;
        padding: 0 17px;
      }
      &--extras {
        margin-right: -17px;
      }
      &--main {
        margin-left: -17px;
      }
    }

    .sub-navigation {
      &__item {
        max-width: 315px;
      }
    }

    .sub-sub-navigation {
      top: var(--theme-header-height--xl);
      margin-bottom: -16px;
      &__item {
        margin-bottom: 16px;
      }
      &__link {
        font-size: 16px;
      }
    }

    &__layout {
      height: var(--theme-header-height--xxl);
    }

  } // min width xxl

}
