main {

  padding-top: var(--theme-header-height--total);
  padding-bottom: calc( 1.5 * var(--theme-header-height--total) );
  position: relative;
  overflow: hidden;

  &.index,
  &.page--about-us  {
    padding-bottom: 0;
  }

  &.page--contact {
    .shopify-section {
      &:first-child {
        padding-top: 40px;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &.page--about-us  {
      padding-bottom: calc( 1.5 * var(--theme-header-height--total) );
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
