.password {
  background: rgba(var(--theme-colour-black), 1);
  color: rgba(var(--theme-colour-white), 1);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
