.policies {

  &__hero {
    &-image {
      width: 100%;
      position: relative;
      aspect-ratio: 375 / 185;
      @supports not (aspect-ratio: auto) {
        height: 185px;
	    }
    }
    & + .policies__main {
      margin-top: 65px;
    }
  }

  &__page-title {
    position: relative;
    & + .policies__body {
      margin-top: 22px;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__hero {
      &-image {
        aspect-ratio: 960 / 185;
        @supports not (aspect-ratio: auto) {
          height: 185px;
	      }
      }
      & + .policies__main {
        margin-top: 75px;
      }
    }

    &__page-title {
      margin-left: calc( -1 * var(--bs-gutter-width) );
      & + .policies__body {
        margin-top: 25px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__hero {
      &-image {
        aspect-ratio: 1160 / 205;
        @supports not (aspect-ratio: auto) {
          height: 205px;
	      }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__hero {
      &-image {
        aspect-ratio: 1360 / 225;
        @supports not (aspect-ratio: auto) {
          height: 225px;
	      }
      }
    }

  } // min width xxl

}
