.policies {

  &__content,
  &__media {
    flex: 1;
  }

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__layout {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      &.with-image {
        .policies__content,
        .policies__media {
          width: calc( (100% - var(--bs-gutter-width)) * 0.5 );
          flex: unset;
        }
        .policies__content {
          padding-top: 180px;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__layout {
      &.with-image {
        .policies__content {
          padding-top: 250px;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__layout {
      &.with-image {
        .policies__content {
          padding-top: 250px;
        }
      }
    }

  } // min width xxl

}
