.product {

  @import '../components/product-actions.scss';
  @import '../components/product-details.scss';
  @import '../components/product-gallery.scss';
  @import '../components/product-recommendations.scss';

  @include breakpoint(lg) {

    &__actions,
    &__details,
    &__info,
    &__options {
      width: 66.6666%;
      margin-left: auto;
      margin-right: auto;
    }

    &__sticky {
      display: block;
      height: 1000px;
      min-height: 100%;
      position: relative;
      overflow-y: visible;
      &-content {
        transition: padding var(--theme-transition-duration);
        top: var(--theme-header-height--total);
        position: sticky;
        height: auto;
        padding-top: 0;
      }
    }

    .scroll-position--scrolled & {
      &__sticky {
        &-content {
          padding-top: 20px;
        }
      }
    }

  }

}
