.body-copy {

  font-family: var(--theme-font-family--sans-serif--primary);

  ol, p, ul {
    margin-bottom: 18px;
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    a {
      transition: border var(--theme-transition-duration);
      border-bottom-width: var(--theme-border-width);
      border-bottom-color: inherit;
      border-bottom-style: solid;
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  &--1 {
    @extend .body-copy;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 300;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--1 {
      font-size: 14px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--1 {
      font-size: 15px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--1 {
      font-size: 16px;
    }

  } // min width xxl

}
