.button {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  line-height: 1;
  text-decoration: none;
  background: transparent;

  span {
    display: block;
  }

  svg {
    display: block;
    height: 100%;
    width: auto;
    fill: currentColor;
  }

  &__icon,
  &__title {
    display: block;
    line-height: inherit;
  }

  &__icon {
    transition:
      opacity var(--theme-transition-duration),
      transform var(--theme-transition-duration);
  }

  &--collapsible,
  &--primary,
  &--submit-form {
    @extend .button;
  }

  &--collapsible {
    width: 100%;
    .button__icon {
      display: block;
      height: 10px;
      width: 10px;
      position: relative;
      &-minus,
      &-plus {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      &-minus {
        opacity: 1;
      }
      &-plus {
        opacity: 0;
      }
    }
    &.collapsed {
      .button__icon {
        &-minus {
          opacity: 0;
        }
        &-plus {
          opacity: 1;
        }
      }
    }
  }

  &--primary,
  &--secondary {
    min-width: 200px;
  }

  &--primary {
    border: 1px solid rgba(var(--theme-colour-black),1);
    color: rgba(var(--theme-colour-black),1);
    padding: 0 var(--bs-gutter-width);
    font-family: var(--theme-font-family--serif--primary);
    text-transform: capitalize;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 1;
    &:focus,
    &:hover {
      background: rgba(var(--theme-colour-black),1);
      color: rgba(var(--theme-colour-white),1);
    }
    .button__title {
      padding-top: 2px;
    }
  }

  &--secondary,
  &--submit-form {
    background: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-white), 1);
    border: 1px solid rgba(var(--theme-colour-white), 1);
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 1;
    padding: 0 var(--bs-gutter-width);
    &:hover {
      background: rgba(var(--theme-colour-white), 1);
      color: rgba(var(--theme-colour-black), 1);
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    min-height: 40px;

    &--collapsible {
      .button__icon {
        height: 12px;
        width: 12px;
      }
    }

    &--primary,
    &--secondary {
      min-width: 250px;
    }

  } // min width lg

  @include breakpoint(xl) {

    min-height: 42px;

  } // min width xl

  @include breakpoint(xxl) {

    min-height: 44px;

  } // min width xxl

}
