.caption {

  line-height: 1;
  font-style: normal;

  &--1 {
    @extend .caption;
    font-family: var(--theme-font-family--serif--primary);
    font-size: 12px;
    letter-spacing: 0.15em;
    font-weight: 300;
  }

  &--2 {
    @extend .caption;
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: .25em;
    text-transform: uppercase;
  }

}
