.caption {

  line-height: 1;
  font-style: normal;

  a {
    color: rgba(var(--theme-colour-gold), 1);
    border: none;
    text-decoration: none;
    &:hover {
      color: rgba(var(--theme-colour-black), 1);
    }
  }

  &--1,
  &--2 {
    @extend .caption;
  }

  &--1 {
    font-family: var(--theme-font-family--serif--primary);
    font-size: 12px;
    letter-spacing: 0.15em;
    font-weight: 300;
  }

  &--2 {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    font-size: 8px;
    font-size: 12px;
    letter-spacing: .25em;
    text-transform: uppercase;
  }

  @include breakpoint(md) {

    &--2 {
      font-size: 13px;
      font-size: 11px;
    }

  } // min width md

  @include breakpoint(lg) {

    &--2 {
      font-size: 9px;
      font-size: 7px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--2 {
      font-size: 11px;
      font-size: 9px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--2 {
      font-size: 13px;
      font-size: 11px;
    }

  } // min width xxl

}
