.card-product {

  &__featured-image {
    position: relative;
    &-link {
      transition: opacity var(--theme-transition-duration);
      display: block;
      width: 100%;
      height: auto;
      opacity: 1;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--fifty-fifty {
    .card-product {
      &__type {
        font-family: var(--theme-font-family--sans-serif--primary);
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 1;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        position: absolute;
        transform: rotate(90deg);
        display: block;
        right: -10px;
        bottom: 0px;
        width: 120%;
        text-align: right;
        transform-origin: bottom right;
      }
    }
  }

}
