.card-collection {

  &__image {
    position: relative;
    &-link {
      width: 100%;
      height: auto;
      position: relative;
      display: block;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__title {
    color: inherit;
    &-link {
      &:hover {
        color: inherit;
        opacity: 0.8;
      }
    }
  }

}
