.card-product {

  direction: ltr;
  text-align: left;

  &__featured-image {
    position: relative;
    &-link {
      transition: opacity var(--theme-transition-duration);
      display: block;
      width: 100%;
      height: auto;
      opacity: 1;
      position: relative;
      &:hover {
        img {
          opacity: 0.8;
        }
        .card-product__secondary-image {
          opacity: 1;
        }
      }
    }
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
  }

  &__price {
    text-align: right;
  }

  &__secondary-image {
    transition: opacity var(--theme-transition-duration);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
  }

  &--contact-form {
    .card-product {
      &__caption {
        writing-mode: tb-rl;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        right: -18px;
        strong {
          transform: rotate(0deg);
          text-align: left;
        }
      }
    }
  }

  &--fifty-fifty {
    .card-product {
      &__type {
        position: absolute;
        transform: rotate(90deg);
        display: block;
        right: -10px;
        bottom: 0px;
        width: 120%;
        text-align: right;
        transform-origin: bottom right;
      }
    }
  }

}
