.cart-line-item {

  .stepper {
    border-top: 1px solid rgba(var(--theme-colour-black), 0.025);
    .button {
      &[name="decrease"] {
        border-right: 1px solid rgba(var(--theme-colour-black), 0.025);
      }
      &[name="increase"] {
        border-left: 1px solid rgba(var(--theme-colour-black), 0.025);
      }
      &:hover {
        background: rgba(var(--theme-colour-black), 0.025);
      }
    }
  }

  &__price,
  &__title,
  &__variant-option {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    line-break: 1.2;
    display: block;
    width: 100%;
  }

  &__button-remove-item,
  &__variant-option,
  &__price {
    font-weight: 300;
  }

  .stepper,
  &__variant-option,
  &__price {
    font-size: 12px;
  }

  &__button-remove-item,
  &__variant-option {
    text-transform: uppercase;
  }

  &__button-remove-item {
    letter-spacing: 0.07em;
    min-height: unset;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    &:hover {
      opacity: 0.6666;
    }
  }

  &__content {
    flex: 1;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 var(--bs-gutter-width);
    position: relative;
  }

  &__image {
    width: 55%;
    a, img {
      display: block;
      width: 100%;
      height: auto;
    }
    &-link {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__product-details {
    position: absolute;
    top: 0;
  }

  &__title {
    font-weight: 400;
    font-size: 12px;
  }

  @include breakpoint(sm) {

    &__image {
      width: 60%;
    }

  } // min width sm

  @include breakpoint(md) {

    .stepper,
    &__variant-option,
    &__price {
      font-size: 14px;
    }

    &__button-remove-item {
      font-size: 12px;
    }

    &__image {
      width: 66%;
    }

    &__title {
      font-size: 17px;
    }

  } // min width md

  @include breakpoint(lg) {

    .stepper,
    &__variant-option,
    &__price {
      font-size: 12px;
    }

    &__button-remove-item {
      font-size: 10px;
    }

    &__title {
      font-size: 14px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .stepper,
    &__variant-option,
    &__price {
      font-size: 13px;
    }

    &__button-remove-item {
      font-size: 11px;
    }

    &__title {
      font-size: 15px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .stepper,
    &__variant-option,
    &__price {
      font-size: 14px;
    }

    &__button-remove-item {
      font-size: 12px;
    }

    &__title {
      font-size: 16px;
    }

  } // min width xxl

}
