.cart-footer {

  border-top: 1px solid rgba(var(--theme-colour-black), 0.025);
  background: rgba(var(--theme-colour-white), 1);
  display: block;
  //position: fixed;
  width: 100%;
  z-index: 50;
  bottom: 0;
  left: 0;
  padding: var(--bs-gutter-width) 0;

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__summary {
    margin-right: var(--bs-container-fluid-padding);
    font-family: var(--theme-font-family--sans-serif--primary);
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.3;
    text-align: right;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    &-charge-amount {
      font-weight: 400;
    }
    &-label {
      margin-right: 5px;
    }
    &-notice {
      width: 100%;
    }
  }

  .footer-in-view & {
    position: relative;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__summary {
      font-size: 12px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__summary {
      font-size: 10px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__summary {
      font-size: 11px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__summary {
      font-size: 12px;
    }

  } // min width xxl

}
