.collection-product-grid {

  .card-product {
    &__price,
    &__title {
      letter-spacing: 0;
    }
    &__price {
      font-weight: 300;
    }
    &__title {
      text-transform: none;
      flex: 1;
      padding-right: 20px;
      font-weight: 400;
    }
  }

  .pagination {
    margin: 55px 0;
    & + .collection-product-grid__banner {
      margin-top: 0;
    }
  }

  &__banner {
    margin-bottom: var(--bs-container-fluid-padding);
    margin-top: 55px;
    &-collection-description {
      font-family: var(--theme-font-family--serif--primary);
      position: relative;
      padding: 90px var(--bs-container-fluid-padding);
      z-index: 1;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.23;
      letter-spacing: 0.01em;
    }
    &-collection-image {
      display: none;
      z-index: 2;
    }
    &-image {
      z-index: 0;
    }
    &-main {
      background: rgba(var(--theme-colour-black), 1);
      color: rgba(var(--theme-colour-gold), 1);
      position: relative;
    }
  }

  &__hero {
    margin-top: 50px;
    &-layout {
      display: inline-flex;
      width: 100%;
      flex-flow: column;
    }
    &.no-products {
      margin-bottom: 50px;
    }
  }

  &__main {
    margin-top: 25px;
    margin-bottom: 55px;
    & + .pagination {
      margin-top: 0;
    }
  }

  &__sort-filter {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    margin-top: 20px;
    padding: 12px 0;
    &-label {
      width: auto;
      & + .collection-product-grid__sort-filter-options {
        margin-left: 10px;
      }
    }
    &-options {
      min-width: 150px;
      text-align: left;
      flex: 1;
      min-height: unset;
    }
  }

  &__title {
    line-height: 1;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__hero {
      &-content {
        padding-right: var(--bs-gutter-width);
        flex: 1;
      }
      &-layout {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__sort-filter {
      width: auto;
      margin-top: 0;
      padding: 0;
      &-label {
        width: auto;
      }
      &-options {
        min-width: 240px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .pagination {
      margin: 75px 0;
    }

    &__banner {
      margin-top: 75px;
      &-collection-description {
        padding: var(--bs-container-fluid-padding);
        width: 66.6666%;
      }
      &-collection-image {
        display: block;
        aspect-ratio: 1/1;
        left: unset;
        z-index: 1;
        position: relative;
        width: 33.3333%;
        @supports not (aspect-ratio: auto) {
          height: 500px;
	      }
      }
      &-layout {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    &__main {
      margin-top: 50px;
      margin-bottom: 75px;
    }

    &__sort-filter {
      &-options {
        min-width: 280px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
