:root {
  --theme-abc: 50px;
}

.contact-form {

  .card-product {
    &__caption {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin-left: 12px;
    }
    &__featured-image {
      position: relative;
      display: inline-flex;
      width: 100%;
    }
  }

  .form {
    .button {
      margin-top: 45px;
      width: 100%;
    }
    .form-field:not(.form-field--rude) {
      & + .form-field {
        margin-top: 18px;
      }
    }
  }

  &__featured-content {
    display: inline-flex;
    width: calc( 100% + var(--bs-container-fluid-padding));
    left: calc( -1 * var(--bs-container-fluid-padding));
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    &-wrapper {
      display: inline-flex;
      width: 100%;
    }
    & + .contact-form__form {
      margin-top: 65px;
    }
  }

  &__featured-product {
    &[data-count="1"] {
      flex: 1;
    }
    &[data-count="2"] {
      margin-left: var(--bs-gutter-width);
      width: 55%;
    }
  }

  &__form {
    & + .contact-form__featured-content {
      margin-top: 65px;
    }
  }

  &__layout {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .form {
      .button {
        margin-top: 25px;
        width: auto;
      }
      .form-field:not(.form-field--rude) {
        & + .form-field {
          margin-top: 12px;
        }
      }
    }

    &__featured-content {
      order: 1;
      margin-left: -10%;
      width: 60%;
    }

    &__form {
      width: 40%;
      order: 2;
      & + .contact-form__featured-content {
        margin-top: 0;
      }
    }

    &__layout {
      flex-flow: row nowrap;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__featured-content {
      &[data-products-total="1"] {
        .contact-form__featured-product {
          &[data-count="1"] {
            width: 100%;
          }
        }
      }
      &[data-products-total="2"] {
        .contact-form__featured-product {
          &[data-count="1"] {
            width: 45%;
          }
          &[data-count="2"] {
            width: 55%;
          }
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__featured-content {
      &[data-products-total="2"] {
        [data-count="1"] {
          margin-left: -55px;
          margin-right: 55px;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__featured-content {
      &[data-products-total="2"] {
        [data-count="1"] {
          margin-left: -55px;
          margin-right: 55px;
        }
      }
    }

  } // min width xxl

}
