:root {
  --theme-abc: 50px;
}

.contact-form {

  .container {
    border-left: 1px solid pink;
    border-right: 1px solid pink;
  }

  .form {
    &__field {
      & + .form__field {
        margin-top: 10px;
      }
    }
    &__submit-button {
      margin-top: 28px;
    }
  }

  &__form {
    border-left: 1px solid red;
  }

  &__featured-content {
    display: inline-flex;
    width: 100%;
    &-wrapper {
      display: inline-flex;
      width: 100%;
    }
  }

  &__layout {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__featured-content,
    &__form {
      width: 50%;
    }

    &__featured-content {
      margin-right: auto;
      position: relative;
      &[data-products-total="2"] {
        [data-count="1"] {}
      }
      &-wrapper {
        width: 110%;
        position: relative;
        left: -10%;
        border: 1px solid green;
      }
    }

    &__featured-content {
      [data-count="1"] {
        width: 45%;
      }
      [data-count="2"] {
        width: 65%;
      }
    }

    &__form {
      margin-left: auto;
    }

    &__layout {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      border-left: 1px solid blue;
      border-right: 1px solid blue;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__featured-content {
      &[data-products-total="2"] {
        [data-count="1"] {
          margin-left: -55px;
          margin-right: 55px;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__featured-content {
      &[data-products-total="2"] {
        [data-count="1"] {
          margin-left: -55px;
          margin-right: 55px;
        }
      }
    }

  } // min width xxl

}
