.faqs {

  padding: var(--theme-section-padding) 0;

  &__collapsible {
    &-content {
      padding-bottom: var(--bs-gutter-width);
    }
    &-trigger {
      font-family: var(--theme-font-family--sans-serif--primary);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      text-transform: capitalize;
      padding: 20px 0;
    }
  }

  &__heading {
    position: relative;
    & + .faqs__item,
    & + .faqs__message {
      margin-top: 20px;
    }
  }

  &__item {
    border-bottom: 1px solid rgba(var(--theme-colour-black),1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__heading {
      left: -5%;
    }

  } // min width md

  @include breakpoint(lg) {

    padding: var(--theme-section-padding--lg) 0;

    &__collapsible-trigger {
      font-size: 14px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__collapsible-trigger {
      font-size: 15px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    padding: var(--theme-section-padding--xxl) 0;

    &__collapsible-trigger {
      font-size: 16px;
    }

  } // min width xxl

}
