.feature-panel-02 {

  $auxiliary-image-height: 120px;

  margin-top: 60px;

  &__content {
    background: rgba(var(--theme-colour-silver), 1);
    width: calc( 90% + var(--bs-container-fluid-padding) );
    left: calc( -1 * var(--bs-container-fluid-padding) );
    position: relative;
    padding: 1.75*$auxiliary-image-height var(--bs-container-fluid-padding) var(--bs-container-fluid-padding);

    &-auxiliary-image {
      height: $auxiliary-image-height;
      position: absolute;
      width: auto;
      top: 0;
      right: 0;
      transform: translate3d( 50%, 0, 0);
      &-aos {
        display: block;
        width: 100%;
        height: 100%;
      }
      a, img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }

  }

  &__heading {
    & + .feature-panel-02__message {
      margin-top: 12px;
    }
  }

  &__image {
    width: 85%;
    height: auto;
    & + .feature-panel-02__content {
      margin-top: 40px;
    }
  }

  &__marker {
    display: none;
  }

  @include breakpoint(sm) {

    $auxiliary-image-height: 150px;

    &__content {
      padding: 1.66*$auxiliary-image-height var(--bs-container-fluid-padding) 40px;
      &-auxiliary-image {
        height: $auxiliary-image-height;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    $auxiliary-image-height: 180px;

    &__content {
      padding: 1.5*$auxiliary-image-height var(--bs-container-fluid-padding) 40px;
      &-auxiliary-image {
        height: $auxiliary-image-height;
      }
    }

    &__message {
      width: 80%;
      margin: auto;
    }

  } // min width md

  @include breakpoint(lg) {

    $auxiliary-image-height: 120px;

    margin-top: 120px;

    &__content {
      width: calc( (100% - var(--bs-gutter-width)) * 0.55 );
      left: unset;
      padding: 1.75*$auxiliary-image-height var(--bs-container-fluid-padding) 40px;
      &-auxiliary-image {
        height: $auxiliary-image-height;
      }
    }

    &__image {
      width: calc( (100% - var(--bs-gutter-width)) * 0.32 );
      & + .feature-panel-02__content {
        margin-left: var(--bs-gutter-width);
        margin-top: 0;
      }
    }

    &__layout {
      display: flex;
      width: 85%;
      position: relative;
      align-items: flex-start;
      justify-content: flex-end;
      margin: auto;
    }

    &__marker {
      display: block;
      flex: 1;
    }

  } // min width lg

  @include breakpoint(xl) {

    $auxiliary-image-height: 140px;

    &__content {
      padding: 1.75*$auxiliary-image-height var(--bs-container-fluid-padding) 40px;
      &-auxiliary-image {
        height: $auxiliary-image-height;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    $auxiliary-image-height: 160px;

    &__content {
      padding: 1.75*$auxiliary-image-height var(--bs-container-fluid-padding) 40px;
      &-auxiliary-image {
        height: $auxiliary-image-height;
      }
    }

  } // min width xxl

}
