@keyframes looped-rotation {
  100% {
    transform:rotate(360deg);
  }
}

.feature-panel-01 {

  $footnote-image-height: 200px;

  margin-top: 60px;

  &__auxiliary,
  &__content {
    width: calc( 100% + (2 * var(--bs-container-fluid-padding)));
    left: calc( -1 * var(--bs-container-fluid-padding));
    position: relative;
  }

  &__footnote {
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    height: $footnote-image-height;
    &-caption {
      padding: 16px;
      line-height: 1;
      flex: 1;
    }
    &-image {
      aspect-ratio: 138/108;
      max-width: 55%;
      height: $footnote-image-height;
      position: relative;
      @supports not (aspect-ratio: auto) {
        height: $footnote-image-height;
      }
    }
  }

  &__content {
    background: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-white), 1);
    padding-bottom: $footnote-image-height;
    &-message {
      padding: 0 var(--bs-container-fluid-padding) 60px;
      p {
        margin: 0;
      }
    }
  }

  &__stamp {
    display: block;
    position: relative;
    height: 140px;
    top: -55px;
    width: auto;
    padding: 0 var(--bs-container-fluid-padding);
    a, img, svg {
      animation: looped-rotation 20s linear infinite;
      display: block;
      height: 100%;
      width: auto;
      margin-left: auto;
    }
  }

  @include breakpoint(sm) {

    $footnote-image-height: 240px;

    &__footnote {
      height: $footnote-image-height;
      &-image {
        height: $footnote-image-height;
        @supports not (aspect-ratio: auto) {
          height: $footnote-image-height;
        }
      }
    }

    &__content {
      padding-bottom: $footnote-image-height;
    }

  } // min width sm

  @include breakpoint(md) {

    $footnote-image-height: 280px;

    &__footnote {
      height: $footnote-image-height;
      &-image {
        height: $footnote-image-height;
        @supports not (aspect-ratio: auto) {
          height: $footnote-image-height;
        }
      }
    }

    &__content {
      padding-bottom: $footnote-image-height;
    }

  } // min width md

  @include breakpoint(lg) {

    $footnote-image-height: 140px;

    margin-top: 120px;

    &__auxiliary,
    &__content {
      width: 100%;
      left: unset;
    }

    &__auxiliary {
      width: calc( (100% - 65px) * 0.2);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      img {
        height: 100%;
        width: auto;
        display: block;
      }
    }

    &__content {
      margin-left: 65px;
      width: calc( (100% - 65px) * 0.8);
      padding-bottom: $footnote-image-height;
      &-message {
        padding: 25px 25px 60px;
      }
    }

    &__footnote {
      height: $footnote-image-height;
      &-caption {
        order: 1;
        text-align: right;
      }
      &-image {
        height: $footnote-image-height;
        order: 2;
        @supports not (aspect-ratio: auto) {
          height: $footnote-image-height;
        }
      }
    }

    &__layout {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
    }

    &__stamp {
      position: absolute;
      height: 140px;
      top: -55px;
      padding: 0;
      left: -65px;
      z-index: -1;
      a, img, svg {
        margin-left: unset;
        margin-right: auto;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    $footnote-image-height: 160px;

    &__content {
      padding-bottom: $footnote-image-height;
    }

    &__footnote {
      height: $footnote-image-height;
      &-image {
        height: $footnote-image-height;
        @supports not (aspect-ratio: auto) {
          height: $footnote-image-height;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    $footnote-image-height: 180px;

    &__content {
      padding-bottom: $footnote-image-height;
    }

    &__footnote {
      height: $footnote-image-height;
      &-image {
        height: $footnote-image-height;
        @supports not (aspect-ratio: auto) {
          height: $footnote-image-height;
        }
      }
    }

  } // min width xxl

}
