.fifty-fifty {

  padding: 55px 0;

  [data-item-type="content"] {
    justify-content: flex-start;
  }

  [data-item-type="image"] {}

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  &__stamp {
    width: 30px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 75px 0;

    &__item {
      width: 50%;
    }

    &__layout {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
