.fifty-fifty {

  padding: 55px 0;

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 75px 0;

    &__item {
      width: 50%;
    }

    &__layout {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
