.fifty-fifty {

  padding: 55px 0;

  &__content {
    color: rgba(var(--theme-colour-black),1);
    padding: 0 15%;
  }

  &__cta {
    justify-content: flex-end;
    display: flex;
    a {
      color: inherit;
      border-color: inherit;
    }
  }

  &__heading {
    & + .fifty-fifty__cta,
    & + .fifty-fifty__message {
      margin-top: 30px;
    }
  }

  &__image {
    width: 84%;
    margin: auto;
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    position: relative;
    & + .fifty-fifty__item {
      margin-top: 42px;
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  &__message {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    & + .fifty-fifty__cta {
      margin-top: 30px;
    }
  }

  &__product {
    width: 65%;
    & + .fifty-fifty__cta,
    & + .fifty-fifty__heading,
    & + .fifty-fifty__message {
      margin-top: 45px;
    }
  }

  &__stamp {
    width: 62px;
    height: auto;
    position: absolute;
    top: 5%;
    left: calc(8% - (62px/2));
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__stamp {
      top: 10%;
      width: 82px;
      left: calc(8% - (82px/2));
    }

  } // min width md

  @include breakpoint(lg) {

    padding: 75px 0;

    &__content {
      padding: 0 10%;
    }

    &__heading {
      & + .fifty-fifty__cta,
      & + .fifty-fifty__message {
        margin-top: 30px;
      }
    }

    &__image {
      width: 90%;
      margin: 0;
    }

    &__item {
      width: 50%;
      & + .fifty-fifty__item {
        margin-top: 0;
      }
      &:first-child {
        &[data-item-type-media] {
          .fifty-fifty__image {
            margin-left: auto;
          }
          .fifty-fifty__stamp {
            left: unset;
            right: calc(-1*(62px/2));
          }
        }
      }
    }

    &__layout {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    &__message {
      & + .fifty-fifty__cta {
        margin-top: 30px;
      }
    }

    &__product {
      width: 55%;
    }

    &__stamp {
      top: 5%;
      width: 62px;
      left: calc(-1*(62px/2));
    }

  } // min width lg

  @include breakpoint(xl) {

    &__content {
      padding: 0 12.5%;
    }

    &__heading {
      & + .fifty-fifty__cta,
      & + .fifty-fifty__message {
        margin-top: 34px;
      }
    }

    &__item {
      &:first-child {
        &[data-item-type-media] {
          .fifty-fifty__stamp {
            right: calc(-1*(72px/2));
          }
        }
      }
    }

    &__message {
      & + .fifty-fifty__cta {
        margin-top: 34px;
      }
    }

    &__product {
      width: 65%;
    }

    &__stamp {
      top: 7.5%;
      width: 72px;
      left: calc(-1*(72px/2));
    }

  } // min width xl

  @include breakpoint(xxl) {

    padding: 95px 0;

    &__content {
      padding: 0 15%;
    }

    &__heading {
      & + .fifty-fifty__cta,
      & + .fifty-fifty__message {
        margin-top: 38px;
      }
    }

    &__item {
      &:first-child {
        &[data-item-type-media] {
          .fifty-fifty__stamp {
            right: calc(-1*(82px/2));
          }
        }
      }
    }

    &__message {
      & + .fifty-fifty__cta {
        margin-top: 38px;
      }
    }

    &__stamp {
      top: 10%;
      width: 82px;
      left: calc(-1*(82px/2));
    }

  } // min width xxl

}
