.input {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  font-family: var(--theme-font-family--sans-serif--primary);
  color: rgba(var(--theme-colour-black), 1);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  font-weight: 300;
  font-size: 10px;
  font-style: normal;
  width: 100%;
  display: block;
  border-radius: 0;
  -webkit-appearance: none;

  &::placeholder {
    color: rgba(var(--theme-colour-charcoal), 0.33);
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-transform: capitalize;
  }

  &--primary,
  &--secondary {
    @extend .input;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  &--primary {
    border-bottom-color: rgba(var(--theme-colour-black), 1);
    color: rgba(var(--theme-colour-black), 1);
  }

  &--secondary {
    border-bottom-color: rgba(var(--theme-colour-white), 1);
    color: rgba(var(--theme-colour-white), 1);
  }

  .error & {
    border-color: rgba(var(--theme-colour-gold),1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    min-height: 40px;

  } // min width lg

  @include breakpoint(xl) {

    min-height: 42px;

  } // min width xl

  @include breakpoint(xxl) {

    min-height: 44px;

  } // min width xxl

}
