.list-collections {

  .card-collection {
    &__content {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: baseline;
      flex-flow: row wrap;
    }
    &__cta {
      order: 3;
    }
    &__description {
      order: 2;
    }
    &__image {
      width: 100%;
      aspect-ratio: 4/3;
      background: rgba(var(--theme-colour-white), 0.1);
      @supports not (aspect-ratio: auto) {
        height: 350px;
	    }
      &-link {
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      width: 100%;
      order: 1;
    }
    & + .card-collection {
      margin-top: var(--bs-container-fluid-padding);
    }
  }

  &__heading {
    & + .list-collections__message {
      margin-top: 18px;
    }
  }

  &__listing {
    margin-top: 40px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .card-collection {
      &__image {
        aspect-ratio: 5/3;
        @supports not (aspect-ratio: auto) {
          height: 400px;
	      }
      }
      & + .card-collection {
        margin-top: calc( 2 * var(--bs-container-fluid-padding));
      }
    }

    &__listing {
      margin-top: 60px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .card-collection {
      &__image {
        @supports not (aspect-ratio: auto) {
          height: 450px;
	      }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .collection {
      &__image {
        @supports not (aspect-ratio: auto) {
          height: 500px;
	      }
      }
    }

  } // min width xxl

}
