.product-gallery {

  position: relative;
  width: calc( 100% + var(--bs-container-fluid-padding));
  margin-bottom: 25px;

  .glide {
    &__track {
      transition: height var(--theme-transition-duration);
    }
  }

  @include breakpoint(lg) {

    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr;

  } // min width lg

}
