.product-recommendations {

  background: rgba(var(--theme-colour-black), 1);
  color: rgba(var(--theme-colour-white), 1);
  padding: var(--theme-feature-carousel-section-padding) 0;
  padding-left: var(--bs-container-fluid-padding);
  margin-top: var(--theme-feature-carousel-section-padding);

  .glide {
    &__buttons {
      padding: 0 var(--bs-container-fluid-padding) 0 0;
      margin-top: 56px;
      display: flex;
      justify-content: flex-end;
    }
    &__button {
      color: rgba(var(--theme-colour-charcoal), 1);
      &.prev {
        margin-right: auto;
      }
      &:hover {
        color: rgba(var(--theme-colour-white), 1);
      }
    }
    &__slide {
      height: auto;
    }
  }

  &__heading,
  &__subheading {
    color: inherit;
  }

  &__content {
    color: rgba(var(--theme-colour-gold), 1);
    position: absolute;
    top: calc( -1 * var(--theme-feature-carousel-section-padding) );
    left: 0;
    z-index: 10;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    strong {
      display: block;
      position: relative;
      &:first-child {
        margin-top: calc( -0.5 * var(--theme-feature-carousel-section-padding));
      }
      & + strong {
        margin-top: calc( 0.5 * var(--theme-feature-carousel-section-padding));
        margin-right: 18px;
      }
    }
  }

  &__layout {
    width: 100%;
    position: relative;
  }

  &__main {
    padding-left: 30px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: var(--theme-feature-carousel-section-padding--lg) 0;
    padding-left: calc( ((100% - var(--bs-container-width--lg))/2) + 12px );
    margin-top: var(--theme-feature-carousel-section-padding--lg);

    .glide {
      &__buttons {
        margin-top: 36px;
      }
      &__button {
        &.next {
          display: none;
        }
      }
    }

    &__content {
      top: calc( -1 * var(--theme-feature-carousel-section-padding--lg) );
      strong {
        &:first-child {
          margin-top: calc( -0.25 * var(--theme-feature-carousel-section-padding--lg));
        }
        & + strong {
          margin-right: 18px;
          margin-top: calc( 0.5 * var(--theme-feature-carousel-section-padding--lg));
        }
      }
    }

    &__layout {
      padding-left: 15%;
    }

  } // min width lg

  @include breakpoint(xl) {

    padding-left: calc( ((100% - var(--bs-container-width--xl))/2) + 12px );

  } // min width xl

  @include breakpoint(xxl) {

    padding-left: calc( ((100% - var(--bs-container-width--xxl))/2) + 12px );

  } // min width xxl

}
