.section {

  position: relative;

  &--faqs {
    & + .section--faqs {
      .faqs {
        padding-top: 0;
      }
    }
  }

  &--padding-y {
    padding: var(--theme-section-padding) 0;
  }

  &.section--featured-carousel,
  &.section--feature-panel-01 {
    overflow: visible;
  }

  [data-colour-theme-dark],
  [data-colour-theme-light] {
    color: rgba(var(--theme-colour-black),1);
  }

  [data-colour-theme-dark] {
    background: rgba(var(--theme-colour-silver),1);
  }

  [data-colour-theme-light] {
    background: rgba(var(--theme-colour-white),1);
  }

  [data-text-alignment-bottom] {
    .fifty-fifty__layout {
      align-items: flex-end;
    }
  }

  [data-text-alignment-center] {
    .fifty-fifty__layout {
      align-items: center;
    }
  }

  @include breakpoint(sm) {

    &--padding-y {
      padding: var(--theme-section-padding--sm) 0;
    }

  } // min width sm

  @include breakpoint(md) {

    &--padding-y {
      padding: var(--theme-section-padding--md) 0;
    }

  } // min width md

  @include breakpoint(lg) {

    &--padding-y {
      padding: var(--theme-section-padding--lg) 0;
    }

    &.section--product {
      overflow: visible;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--padding-y {
      padding: var(--theme-section-padding--xl) 0;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--padding-y {
      padding: var(--theme-section-padding--xxl) 0;
    }

  } // min width xxl

}
