.section {

  position: relative;

  &--faqs {
    & + .section--faqs {
      .faqs {
        padding-top: 0;
      }
    }
  }

  [data-height-large] {
    height: 100%;
    height: 100vh;
  }

  [data-colour-theme-dark],
  [data-colour-theme-light] {
    color: rgba(var(--theme-colour-black),1);
  }

  [data-colour-theme-dark] {
    background: rgba(var(--theme-colour-silver),1);
  }

  [data-colour-theme-light] {
    background: rgba(var(--theme-colour-white),1);
  }

  [data-text-alignment-bottom] {
    .fifty-fifty__layout {
      align-items: flex-end;
    }
  }

  [data-text-alignment-center] {
    .fifty-fifty__layout {
      align-items: center;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
