:root {
  --theme-stepper-button-size: 40px;
  --theme-stepper-button-size--lg: 44px;
}

.stepper {

  font-family: var(--theme-font-family--sans-serif--primary);
  font-style: normal;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 300;

  button,
  input {
    height: var(--theme-stepper-button-size);
    min-height: unset;
  }

  button {
    width: var(--theme-stepper-button-size);
  }

  input {
    width: var(--theme-stepper-button-size);
    text-align: center;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .button {
    &__icon {
      width: 33.3333%;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .input {
    font-size: inherit;
  }

}
